*{
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
